@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
}

.banner{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b061f;
}

.spider{
    z-index: 100;
    position: absolute;
    top: 0;
    animation: animateSpider 15s ease-in-out infinite;
}

@keyframes animateSpider{

    0%,100%{
        transform: translateY(-500px);
    }
    50%{
        transform: translateY(0px);
    }
}

.pumpkin01{
    position: absolute;
    top: 100px;
    right: 200px;
    scale: 0.5;
    animation: animatePumpkin 10s ease-in-out infinite;
}

@keyframes animatePumpkin{

    0%,100%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(0px);
    }
}

.pumpkin02{
    position: absolute;
    left: 50px;
    bottom: 20px;
    animation: animatePumpkin 4s ease-in-out infinite;
    scale:0.5;
}

.spiderWeb{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
}

.text{
    position: relative;
    color: rgba(255,255,255,0.1);
    font-size: 12vw;
    font-family: 'Fruktur', cursive;
    font-weight: 100;
    animation: animateText 5s linear infinite;
}

@keyframes animateText{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.10%, 92%{
        color: rgba(255,255,255,0.1);
        text-shadow: none;
    }
    18.1%, 20.1%,30%,50%,60%,65%,80.1%,90%,92.1%, 95%, 100%{
        color: #ffac09;
        text-shadow: 0 0 10px #ffac09, 0 0 20px #ffac09, 0 0 40px #ffac09, 0 0 80px #ffac09, 0 0 100px #ffac09;
    }
}

.pumpkin03{
    position: absolute;
    left: 100px;
    top: 0;
    animation: animatePumpkin2 15s ease-in-out infinite;
}

@keyframes animatePumpkin2{

    0%,100%{
        transform: translateX(800px);
    }
    49%{
        transform: translateY(900px);
    }
    50%{
        transform: translateY(0px);
    }
    60%{
        transform: translateX(400px);
    }
    70%{
        transform: rotateZ(-100deg);
    }
}

.pumpkin04{
    z-index: 10;
    position: absolute;
    animation: animatePumpkin4 5s ease-in-out infinite;
}

@keyframes animatePumpkin4{

    0% {
        transform: rotate(-25deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(-25deg);
    }
}

.pumpkin05{
    position: absolute;
    right: 50px;
    bottom: 20px;
    animation: animatePumpkin3 15s ease-in-out infinite;
}


@keyframes animatePumpkin3{

    0%,100%{
        transform: translateX(-880px);
    }
    49%{
        transform: translateY(-800px);
    }
    50%{
        transform: translateX(0px);
    }
    60%{
        transform: translateY(-400px);
    }
    70%{
        transform: rotateZ(100deg);
    }
}
